<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="assets/img/favicon.png">

    <title>Image Search</title>
    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="assets/css/main.css" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <script src="main.js"></script>
    <!-- Fonts from Google Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Lato:300,400,900' rel='stylesheet' type='text/css'>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><b>Image Search</b></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#"></a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

	<div id="headerwrap">
		<div class="container">
			<div class="row">
				<div class="col-lg-5">


					<h2 style="color:white">Input</h2>
					<div id="input">
					<img id="inputimage" src="#" alt="your image" style="width: 300px; height: 300px;" hidden/>
					</div>
					<br>
					<h1>Search by uploading an Image<br/>
					</h1>
					<form class="form-inline" role="form">
					  <div class="form-group">
					    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Click Here to Upload">

					     </div>
					  <button type="submit" class="btn btn-warning btn-lg">Search!</button>
					</form>
					<div id="userdragandrophandler" onclick="document.getElementById('userfile').click(); return false;">
									Drag & Drop Files Here
								</div>
				</div><!-- /col-lg-6 -->
				<div class="col-lg-7">
					<!---<img class="img-responsive" src="assets/img/ipad-hand.png" alt="">- -->


						<h2 style="color:white">Result</h2>

						<div id="result1">

						</div>
						<div id="result2" class="col-lg-6" >

						</div>
						<div id="result3" class="col-lg-6" >

						</div>
						<div id="result4" class="col-lg-6" >

						</div>
						<div id="result5" class="col-lg-6" >

						</div>

				</div><!-- /col-lg-6 -->
				<input type="file" class="form-control" id="userfile" style="visibility: hidden;" />
			</div><!-- /row -->
		</div><!-- /container -->
	</div><!-- /headerwrap -->
	

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
  </body>
</html>
