<!DOCTYPE HTML>
<html>
<head>
	<title>Megh - Home</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
	<script src="js/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
	<script src="js/jquery.dropotron.min.js"></script>
	<script src="js/jquery.scrollgress.min.js"></script>
	<noscript>
		<link rel="stylesheet" href="css/skel.css" />
		<link rel="stylesheet" href="css/style.css" />
		<link rel="stylesheet" href="css/style-wide.css" />
		<link rel="stylesheet" href="css/dragdrop.css" />
	</noscript>
	<script src="js/skel.min.js"></script>
	<script src="js/skel-layers.min.js"></script>
	<script src="js/init.js"></script>
	<script src="main.js"></script>
	<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
</head>
<body>
	<!-- Header -->
	<header id="header">
		<h1><a href="/">Megh</a></h1>
		<nav id="nav">
			<ul>
				<li><a href="#">Hi  {{.}}</a></li>
				<li><a href="/groups">Groups</a></li>
				<li><a href="" >Help</a></li>
				<li><a href="/logout" class="button">Logout</a></li>
			</ul>
		</nav>
	</header>

	<section id="main" class="container">

		<header>
			<h2>Welcome</h2>
		</header>
		<!-- Nav tabs -->
		<div class="container">
			<!-------->
			<div id="content">
				<ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
					<li class="active"><a href="#home" data-toggle="tab">Home</a></li>
					<li><a href="#groups" data-toggle="tab">Groups</a></li>
				</ul>
				<div id="my-tab-content" class="tab-content">
					<div class="tab-pane active" id="home">
						<br>
						<br>
						<div class="row">
							<div class="12u">
								<input type="file" id="userfile" style="visibility: hidden;" />	
								<div id="userdragandrophandler" onclick="document.getElementById('userfile').click(); return false;">
									Drag & Drop Files Here
								</div>

								<div id="status1"></div>
								<br>
								<br>
								<br>
								<form id="user-send-form" method="post" action="">

									<div class="row uniform half">
										<div class="12u">
											<input id="text-input" type="text" name="message" value="" placeholder="Enter your message" />
										</div>
									</div>
									<br>
									<input type="button" id="userfilesend" value="Send" />	
									<input type="button" id="filebutton" value="Upload file" />	
								</form>
								<div class="12u">
									<!-- Text -->
									<section class="box">
										<table class="table">												<tbody id="user">
										</tbody>  
									</table>
								</section>
							</div>
						</div>
					</div>
				</div>
				
				<footer id="footer">
					<ul class="icons">
						<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
						<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
						<li><a href="#" class="icon fa-google-plus"><span class="label">Google+</span></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>
				</footer>
			</body>
			</html>